.footer {
  background: var(--cor-c12);
  padding: 60px 0 32px;
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 80px 30px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer a:hover {
  color: var(--cor-c2);
}

.footer .informacoes,
.footer .contato-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .contato-info a,
.footer .contato-info span {
  line-height: 1.7;
}

.footer .contato:last-of-type,
.footer .endereco {
  position: relative;
  margin-bottom: 32px;
}
.footer .contato:last-of-type::after,
.footer .endereco::after {
  content: "";
  position: absolute;
  display: block;
  background: var(--cor-c11);
  bottom: -16px;
  left: 0;
  height: 2px;
  width: 210px;
}

.footer .redes a:not(:last-child) {
  margin-right: 32px;
}

.footer .informacoes a {
  line-height: 2.2;
}

.footer .copyright {
  grid-column: 1 / -1;
  text-align: center;
}

@media (max-width: 800px) {
  .footer .container {
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
  }

  .footer .logo {
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px) {
  .footer .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer h3 {
    margin-bottom: 20px;
  }
}
