.lojas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.lojas h2 {
  margin-bottom: 60px;
}

.lojas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.lojas ul li {
  flex: 1;
  min-width: 400px;
  max-width: 560px;
}

.lojas img {
  border-radius: 5px 5px 0 0;
  height: 100%;
}

.lojas .info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  background: var(--cor-c0);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.lojas .info h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  grid-column: 1 / -1;
  margin-bottom: 12px;
}
.lojas .info h3::before {
  content: "";
  display: block;
  background: var(--cor-p1);
  width: 12px;
  height: 8px;
}

.lojas .info .endereco {
  grid-row: span 2;
  line-height: 2;
}

.lojas .info .endereco,
.lojas .info address {
  font-size: 1rem;
  border-left: 2px solid var(--cor-c2);
  padding-left: 12px;
  margin: 0 0 32px 25px;
}

.lojas .info a {
  display: block;
  font-style: initial;
  line-height: 2;
}

.lojas .info .horario {
  display: flex;
  align-items: center;
  gap: 8px;
  grid-column: 1 / -1;
  font-weight: 600;
}
.lojas .info .horario::before {
  content: "";
  display: block;
  background: url("../../img/icones/horario.svg") no-repeat;
  width: 20px;
  height: 20px;
}

@media (max-width: 500px) {
  .lojas ul li {
    min-width: 100%;
  }

  .lojas .info {
    grid-template-columns: 1fr;
  }

  .lojas .info .endereco,
  .lojas .info address {
    margin-bottom: 16px;
  }
}
