.intro {
  background: var(--cor-c12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 160px left 40px;
  box-shadow: inset 0 -120px 0 var(--cor-c0);
}
.intro .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 80px;
}

.intro-info {
  padding: 80px 0 200px;
}
.intro-info h1 {
  color: var(--cor-c0);
  margin-bottom: 32px;
}

.intro-descricao {
  color: var(--cor-c5);
  margin-bottom: 20px;
}

.intro .foto {
  height: 100%;
}
.intro .foto img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 1300px) {
  .intro .foto {
    margin-right: -48px;
  }
}

@media (max-width: 1000px) {
  .intro {
    box-shadow: inset 0 -60px 0 var(--cor-c0);
  }
  .intro .container {
    gap: 60px 40px;
  }

  .intro-info {
    padding: 80px 0 140px;
  }
  .intro-info h1 {
    margin-bottom: 16px;
  }
  .intro-info h1 br {
    display: none;
  }

  .intro .foto {
    margin-right: -30px;
  }
}

@media (max-width: 800px) {
  .intro .container {
    grid-template-columns: 1fr;
  }
  .intro-info {
    padding: 60px 0 0;
    max-width: 50ch;
  }
  .intro-info h1 br {
    display: initial;
  }
  .intro .foto {
    margin-right: 0;
  }
  .intro .foto img {
    object-fit: contain;
    width: auto;
    max-height: 400px;
  }
}

@media (max-width: 400px) {
  .intro-info {
    padding: 30px 0 0;
  }
}
