.perguntas {
  padding-top: 120px;
  padding-bottom: 120px;
}

.perguntas h2 {
  margin-bottom: 60px;
}

.perguntas details:nth-child(odd) {
  background: var(--cor-c1);
  border-radius: 5px;
}

.perguntas summary {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  list-style: none;
  cursor: pointer;
  padding: 20px;
}
.perguntas summary::before {
  content: "";
  display: block;
  background: var(--cor-p1);
  left: 20px;
  width: 12px;
  height: 8px;
}
.perguntas summary::after {
  content: "";
  display: inline-block;
  background: url("../../img/icones/seta-abrir.svg") no-repeat;
  transition: 0.2s;
  margin-left: 4px;
  width: 14px;
  height: 6px;
}

.perguntas details[open] summary {
  margin-bottom: 16px;
}
.perguntas details[open] summary::after {
  transform: rotate(-180deg);
}

.perguntas p {
  padding: 0 40px 40px;
}
.perguntas details[open] p {
  animation: aparecer 1s forwards;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
