.termos {
  padding-top: 120px;
  padding-bottom: 120px;
}

.termos > ol > li {
  margin-bottom: 48px;
}

.termos li ol {
  list-style: none;
  margin-top: 20px;
  max-width: 760px;
}

.termos li ol li {
  margin-bottom: 24px;
}

@media (max-width: 600px) {
  .termos {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
